<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-5/css/bootstrap.min.css')}}">
    <link rel="icon" href="{{url_for('static', filename='svg/gem.svg')}}" type="image/x-icon">
    <title>Gospel explotion</title>
</head>
<body>
    <!--header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-danger " href="#"><p class="h3 fw-bold">Gospel explosion mission</p> </a>
          <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#"><p class="h3">Home</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">Event</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">Media</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">About</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">Mission</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">Vission</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">MissionField</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#"><p class="h3">Contact</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark btn btn-danger p-2 " href="#"><p class="h3 lead fw-bold">Give online</p></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--end of header -->

    <script type="text/javascript" src="{{url_for('static', filename='bootstrap-5/js/bootstrap.min.js')}}"></script>
</body>
</html>